<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css" media="screen"/>

  </head>
  <body>
    <h1>where's my Plague at?</h1>
    <h2>A Rack-Only App</h2>

    <% retrieve_geoJson %>

<button id="click" onclick="clickFunction()">Click to Chart</button>

<!-- *** amCharts Pie Chart *** -->
    <script src="//www.amcharts.com/lib/4/core.js"></script>
    <script src="//www.amcharts.com/lib/4/charts.js"></script>
    <script src="//www.amcharts.com/lib/4/themes/animated.js"></script>

    <div id="chartdiv">
    </div>

    <script>
    am4core.useTheme(am4themes_animated);
    var chart = am4core.create("chartdiv", am4charts.PieChart);

    chart.data = [{
      "city": "Toronto",
      "cases": <%= toronto %>
    }, {
      "city": "Mississauga",
      "cases": <%= mississauga %>
    }, {
      "city": "Newmarket",
      "cases": <%= newmarket %>
    }, {
      "city": "Hamilton",
      "cases": <%= hamilton %>
    }, {
      "city": "Ottawa",
      "cases": <%= ottawa %>
    }, {
      "city": "Windsor",
      "cases": <%= windsor %>
    }, {
      "city": "Penbroke",
      "cases": <%= penbroke %>
    }, {
      "city": "Waterloo",
      "cases": <%= waterloo %>
    }, {
      "city": "Oakville",
      "cases": <%= oakville %>
    }, {
      "city": "Barrie",
      "cases": <%= barrie %>
    }, {
      "city": "Peterborough",
      "cases": <%= peterborough %>
    }, {
      "city": "Thorold",
      "cases": <%= thorold %>
    }, {
      "city": "Thunderbay",
      "cases": <%= thunderbay %>
    }, {
      "city": "Chatham",
      "cases": <%= chatham %>
    }, {
      "city": "Cornwall",
      "cases": <%= cornwall %>
    }, {
      "city": "Guelph",
      "cases": <%= guelph %>
    }, {
      "city": "Brantford",
      "cases": <%= brantford %>
    }, {
      "city": "Port Hope",
      "cases": <%= porthope %>
    }, {
      "city": "Kenora",
      "cases": <%= kenora %>
    }, {
      "city": "Simcoe",
      "cases": <%= simcoe %>
    }, {
      "city": "Brockville",
      "cases": <%= brockville %>
    }, {
      "city": "Timmins",
      "cases": <%= timmmins %>
    }, {
      "city": "St. Thomas",
      "cases": <%= stthomas %>
    }, {
      "city": "Point Edward",
      "cases": <%= pointedward %>
    }, {
      "city": "Sault Ste. Marie",
      "cases": <%= saultstemarie %>
    }, {
      "city": "London",
      "cases": <%= london %>
    }, {
      "city": "North Bay",
      "cases": <%= northbay %>
    }, {
      "city": "Owen Sound",
      "cases": <%= owensound %>
    }, {
      "city": "Stratford",
      "cases": <%= stratford %>
    }, {
      "city": "Belleville",
      "cases": <%= belleville %>
    }, {
      "city": "Kingston",
      "cases": <%= kingston %>
    }, {
      "city": "Sudbury",
      "cases": <%= sudbury %>
    }, {
      "city": "New Liskeard",
      "cases": <%= newliskeard %>
    }];

    var pieSeries = chart.series.push(new am4charts.PieSeries());
    pieSeries.dataFields.value = "cases";
    pieSeries.dataFields.category = "city";

// add inner radius
    chart.innerRadius = am4core.percent(40);
    pieSeries.slices.template.stroke = am4core.color("#4a2abb");
    pieSeries.slices.template.strokeWidth = 2;
    pieSeries.slices.template.strokeOpacity = 1;


  // disable growing hover and add fill opacity
    pieSeries.slices.template.fillOpacity = 1;

    var hs = pieSeries.slices.template.states.getKey("hover");
    hs.properties.scale = 1;
    hs.properties.fillOpacity = 0.5;

  // inner pie

  var pieSeries2 = chart.series.push(new am4charts.PieSeries());
    pieSeries2.dataFields.value = "cases";
    pieSeries2.dataFields.category = "city";
    pieSeries2.slices.template.stroke = am4core.color("#fff");
    pieSeries2.slices.template.strokeWidth = 2;
    pieSeries2.slices.template.strokeOpacity = 1;
    pieSeries2.slices.template.states.getKey("hover").properties.shiftRadius = 0;
    pieSeries2.slices.template.states.getKey("hover").properties.scale = 1.1;

    </script>



     <!-- *** google heat map *** -->

        <div id="map">
          <%= google_api_call %>
        </div>

        <script>
          alert("be present");

          var heatmapData = [
            new google.maps.LatLng(43.6532, -79.3794),
            new google.maps.LatLng(43.6532, -79.3783),
            new google.maps.LatLng(43.6532, -79.3710)
          ];

          var covidToronto = new google.maps.LatLng(43.6532, -79.3832);

          map = new google.maps.Map(document.getElementById('map'), {
            center: covidToronto,
            zoom: 13,
            mapTypeId: 'satellite'
          });

          var heatmap = new google.maps.visualization.HeatmapLayer({
            data: heatmapData
          });
          heatmap.setMap(map);
        </script>



  </body>
</html>
