<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css" media="screen"/>
  </head>
  <body>
    <h1>HTML template page is rendered</h1>

    <button id="click" onclick="clickFunction()">Click to download GeoJson</button>

    <button type="button"
    onclick="document.getElementById('click').innerHTML = Date()">
    Click me to display Date and Time.</button>
    <div id="map"></div>

    <h2>
      <% retrieve_geoJson %>
    </h2>


    <h2> Testing initialize:
       <%= test_initialize %>
    </h2>

    <h2> Testing render method:
       <%= test_render %>
    </h2>

    <h2> Testing coordinates:
       <%= test_coordinates %>
    </h2>



    <%= google_api_call %>

    <script>
      alert("be present");

      var heatmapData = [
        // new google.maps.LatLng(43.6532, -79.3794),
        // new google.maps.LatLng(43.6532, -79.3783),
        // new google.maps.LatLng(43.6532, -79.3710)
        new google.maps.LatLng(<%= @coordinates[0].cpointx %>, <%= @points[0].pointy %>)
      ];

      var covidToronto = new google.maps.LatLng(43.6532, -79.3832);

      map = new google.maps.Map(document.getElementById('map'), {
        center: covidToronto,
        zoom: 13,
        mapTypeId: 'satellite'
      });

      var heatmap = new google.maps.visualization.HeatmapLayer({
        data: heatmapData
      });
      heatmap.setMap(map);
    </script>
  </body>
</html>
